div{
    width: 700px;            
    height: 00px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
}
body {
    margin: 0 auto;
    padding: 0;
    background: url(https://cdn.jsdelivr.net/gh/Vnice233/Vnice.github.io/img/202106071308-19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
button{
    width: 200px;            
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
}
input{
    width: 200px;            
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
}
